<a href="https://colab.research.google.com/github/kazivana/FoodSecurity/blob/main/Undernourishment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import rc
from matplotlib.ticker import FormatStrFormatter
from palettable.cmocean.sequential import Haline_3

In [ ]:
#@title Mount google drive in order to import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
relevant_columns = ['Area', 'Year', 'Value']

undernourishment_path = '/content/drive/MyDrive/Big_Terra/undernourishment_percent.csv'

In [ ]:
undernoursihment_df = pd.read_csv(undernourishment_path, usecols=relevant_columns)

In [ ]:
undernoursihment_df

             Area       Year Value
0     Afghanistan  2000-2002  47.8
1     Afghanistan  2001-2003  45.6
2     Afghanistan  2002-2004  40.6
3     Afghanistan  2003-2005    38
4     Afghanistan  2004-2006  36.1
...           ...        ...   ...
3871     Zimbabwe  2014-2016   NaN
3872     Zimbabwe  2015-2017   NaN
3873     Zimbabwe  2016-2018   NaN
3874     Zimbabwe  2017-2019   NaN
3875     Zimbabwe  2018-2020   NaN

[3876 rows x 3 columns]

In [ ]:
undernoursihment_df